body {
  font-family: Arial, sans-serif;
  background-color: #9e9b9b;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
}
.container {
    margin:0 auto;
    background: white;
    border-radius: 12px;
    padding: 40px;
    width: 600px;
    box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.05);
    margin: 60px 0;
}
.city {
    display: flex;
}
.time{
    font-size:36px;
    font-weight: bold;
    text-align: right;
    padding: 5px;
}
.time small{
    font-size: 18px;
    vertical-align: middle;
    line-height: 36px;

}
select {
    display:block;
    width: 100%;
    font-size: 18px;
    padding: 4px;
    border-radius: 6px;
    margin-bottom: 20px;
}
h1{
    text-align: center;
}

footer {
    text-align:center;
    margin-top:30px;
    
  
}